* {
	white-space:nowrap;
	font-family: Helvetica,"Bitstream Vera Sans",Arial,sans-serif;
	font-size: large;
	text-decoration: none;
}

a {
    padding-left:34px;
    line-height:28px;
}

a[href$='.cbr'],a[href$='.CBR'],a[href$='.rar'],a[href$='.RAR'] {
	color:green;
	background:transparent url(../img/cbr.png) center left no-repeat;
	display:inline-block;
}

a[href$='.cbz'],a[href$='.CBZ'] {
	color: orange;
	background:transparent url(../img/cbz.png) center left no-repeat;
	display:inline-block;
}

a.dir {
	color: blue;
	background:transparent url(../img/folder.png) center left no-repeat;
	display:inline-block;
}

a.prev {
	color: blue;
	background:transparent url(../img/up.png) bottom left no-repeat;
	display:inline-block;
}

p {
	color: blue;
}

h2 {
	font-size: x-large;
	margin-bottom:0;
}
